<container class="footer">
  <columns small="12" large="7">
    <row>
      <h3 class="footer__title">Brannon & Douglas, Inc.</h3>

      <p class="footer__text">
        1600 Amphitheatre Parkway Mountain View, CA 94043<br>
         Help & Support Center: 0000 000 000<br>
         Website: <a class="footer__link" href="#">www.yourcompany.com</a>
      </p>
    </row>
  </columns>

  <columns small="12" large="5" class="social">
    {{>_social
      gh-root = 'https://cubizm.github.io/email-summer/assets/img/'
    }}
  </columns>
</container>
