<h1 class="promo-title">Best articles in this month</h1>

<container class="promo-content">

  {{>_promo
    gh-root = 'https://cubizm.github.io/email-summer/assets/img/'
    src = 'photo-1.jpg'
    title = 'What is it like to be young and free minded in North Korea'
    description = 'Fusce amet ligula ornare tempus vulputate ipsum semper. Praesent non lorem odio. Fusce sed dui massa, eu viverra erat.'
  }}

  {{>_promo
    gh-root = 'https://cubizm.github.io/email-summer/assets/img/'
    src = 'photo-2.jpg'
    title = 'Mysterious rolls in the fields'
    description = 'Fusce amet ligula ornare tempus vulputate ipsum semper. Praesent non lorem odio. Fusce sed dui massa, eu viverra erat.'
  }}

  {{>_big-promo
    gh-root = 'https://cubizm.github.io/email-summer/assets/img/'
    src = 'photo-big.jpg'
    title = 'Life‘s like Vertigo comic books'
    description = 'Fusce amet ligula ornare tempus vulputate ipsum semper. Praesent non lorem odio. Fusce sed dui massa, eu viverra erat.'
  }}

</container>
