<h1 class="promo-title">Best articles in this month</h1>

<container class="promo-content">

  {{>_promo
    src = '../assets/img/photo-1.jpg'
    title = 'What is it like to be young and free minded in North Korea'
    description = 'Fusce amet ligula ornare tempus vulputate ipsum semper. Praesent non lorem odio. Fusce sed dui massa, eu viverra erat.'
  }}

  {{>_promo
    src = '../assets/img/photo-2.jpg'
    title = 'Mysterious rolls in the fields'
    description = 'Fusce amet ligula ornare tempus vulputate ipsum semper. Praesent non lorem odio. Fusce sed dui massa, eu viverra erat.'
  }}

  {{>_big-promo
    src = '../assets/img/photo-big.jpg'
    title = 'Life‘s like Vertigo comic books'
    description = 'Fusce amet ligula ornare tempus vulputate ipsum semper. Praesent non lorem odio. Fusce sed dui massa, eu viverra erat.'
  }}

</container>
